<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="field">
  <link
    name="arena">
    <inertial>
      <origin
        xyz="-1.07796256326989E-16 5.24094761893937E-16 0.251860663172305"
        rpy="0 0 0" />
      <mass
        value="36196.5475825679" />
      <inertia
        ixx="111361.282109728"
        ixy="-5.68961615328298E-11"
        ixz="1.47345935311266E-12"
        iyy="512546.576764148"
        iyz="6.31493583110209E-12"
        izz="621439.168724381" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://field/meshes/arena.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.756862745098039 0.964705882352941 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://field/meshes/arena.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="slope">
    <inertial>
      <origin
        xyz="-0.331974275290728 -0.125 0"
        rpy="0 0 0" />
      <mass
        value="420" />
      <inertia
        ixx="143.15"
        ixy="0"
        ixz="-3.70074341541719E-15"
        iyy="157.15"
        iyz="6.30512779412488E-32"
        izz="20.3" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://field/meshes/slope.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.988235294117647 0.737254901960784 0.517647058823529 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://field/meshes/slope.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="slope_joint"
    type="fixed">
    <origin
      xyz="0 -3 0.375"
      rpy="1.5708 0 0" />
    <parent
      link="arena" />
    <child
      link="slope" />
    <axis
      xyz="1 0 0" />
  </joint>
  <link
    name="rubble">
    <inertial>
      <origin
        xyz="-1.00575680043092 0.00661190412065712 0.0035970917734951"
        rpy="0 0 0" />
      <mass
        value="46.4124999999998" />
      <inertia
        ixx="15.2630731070815"
        ixy="0.00197400686776215"
        ixz="0.00555265149334858"
        iyy="30.3300250056683"
        iyz="-0.0017007679007558"
        izz="15.0694080090995" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://field/meshes/rubble.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.752941176470588 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://field/meshes/rubble.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rubble_joint"
    type="fixed">
    <origin
      xyz="-1.6666 3 0.1"
      rpy="1.5708 0 0" />
    <parent
      link="arena" />
    <child
      link="rubble" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="wall_1">
    <inertial>
      <origin
        xyz="-4.44089209850063E-16 0.5 0.1"
        rpy="0 0 0" />
      <mass
        value="200" />
      <inertia
        ixx="17.3333333333333"
        ixy="-1.49560497243821E-30"
        ixz="-1.5149918356864E-16"
        iyy="17.3333333333333"
        iyz="9.4039548065783E-32"
        izz="33.3333333333333" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://field/meshes/wall_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://field/meshes/wall_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wall_1_joint"
    type="fixed">
    <origin
      xyz="1.3334 3.5 0.1"
      rpy="1.5708 0 1.5708" />
    <parent
      link="arena" />
    <child
      link="wall_1" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="wall_2">
    <inertial>
      <origin
        xyz="0 -0.5 0.1"
        rpy="0 0 0" />
      <mass
        value="200" />
      <inertia
        ixx="17.3333333333334"
        ixy="0"
        ixz="-2.31296463463575E-17"
        iyy="17.3333333333333"
        iyz="5.7176045223996E-32"
        izz="33.3333333333334" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://field/meshes/wall_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://field/meshes/wall_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wall_2_joint"
    type="fixed">
    <origin
      xyz="3.03337213258269 2.5 0.0999999999999998"
      rpy="-1.5707963267949 0 -1.5707963267949" />
    <parent
      link="arena" />
    <child
      link="wall_2" />
    <axis
      xyz="1 0 0" />
  </joint>
</robot>