<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="arena">
  <link
    name="body">
    <inertial>
      <origin
        xyz="-0.0687878603923006 0.154809753511671 0.126805279420118"
        rpy="0 0 0" />
      <mass
        value="12835.4727764877" />
      <inertia
        ixx="106237.411559678"
        ixy="259.412378794607"
        ixz="-394.162282740442"
        iyy="211905.808163833"
        iyz="-191.356583530456"
        izz="107185.43843331" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arena/meshes/body.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arena/meshes/body.STL" />
      </geometry>
    </collision>
  </link>
</robot>